# Development
.vscode/
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Generated data files
data/venue-data/**/artists_*.yaml
data/venue-data/**/playlist_*.yaml
website/data/*.json

# Keep venue configs
!data/venue-data/**/venues.yaml

# Authentication
.cache
.spotify_token
logs/
.vercel
